<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invite User to Team</title>
</head>
<body>
    <h1>Please select the team</h1>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send Invite</button>
    </form>
<h3>
    Create team
</h3>
<a href="{%url 'create_team' %}">
    <button type="button">
        Create another team
    </button>
</a>
</body>
</html>