{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vacation</title>
    <link rel="stylesheet" href="{% static 'vacations/flatpickr.min.css' %}">
<link rel="stylesheet" href="{% static 'vacations/themes/dark.css' %}">
</head>
<body>
    <h1>Add Vacation</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <script src="{% static 'vacations/flatpickr.min.js' %}"></script>
    <script>
      flatpickr("#id_start_date", {
        enableTime: false,
        dateFormat: "Y-m-d",
      });

      flatpickr("#id_end_date", {
        enableTime: false,
        dateFormat: "Y-m-d",
      });
    </script>
</body>
</html>
